/*
* {
    border: 1px solid red;
}

/* Réinitialisation de la marge et du padding pour une meilleure cohérence entre les navigateurs */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
    /* Couleur de fond noire */
    color: #000000;
    /* Texte principal en blanc */
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

/* Styles du header (partie avec le menu) */
header {
    background-color: rgba(79, 71, 71, 0.75);
    /* Rouge */
    padding: 30px 0;
    text-align: center;
    position: fixed;
    /* Position fixe */
    width: 100%;
    /* Largeur à 100% pour occuper toute la largeur de la fenêtre */
    top: 0;
    /* Fixe le haut du header à la partie supérieure de la fenêtre */
    left: 0;
    /* Fixe la gauche du header à la partie gauche de la fenêtre */
    z-index: 1000;
    /* Contrôle la position en z-index pour les éléments superposés */

}

/* Styles du menu */
.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    background-color: #3d3d3d;
    /* Couleur de fond gris */
    padding: 20px 40px;
    /* Ajout de rembourrage pour les boutons du menu */
    border-radius: 50px;
    /* Coins arrondis pour les boutons */
    transition: background-color 0.3s, color 0.3s;
    /* Transition de couleur de fond et de texte pour l'effet de survol */
    font-size: 20 px;
    /* Taille de police ajustée */
}

.menu a:hover {
    background-color: #322e2e;
    /* foncé au survol */
}

/* Styles pour le contenu */
.content {
    padding: 20px;
}

/* Styles pour les liens dans le contenu */
.content a {
    color: #00b8f5;
    /* Couleur de texte bleue */
    text-decoration: none;
    /* Retirer soulignement des liens */
    transition: color 0.3s, text-decoration 0.3s;
    /* Transition de couleur et de soulignement au survol */
}

.content a:hover {
    color: #0080ad;
    /* Couleur de texte bleue plus foncée au survol */
    text-decoration: none;
    /* Suppression du soulignement au survol */
}

#contact {
    color: #351cf4;
    /* couleur du texte */
    text-align: center;
    font-size: 25px;
    /* Taille de police ajustée */
    scale: 120%;


}

#contact ul {
    text-align: left;
    margin-left: 400px;

}

/* Styles pour la div contenant le texte au dessus images */
.images {
    text-align: center;
    /* Centre le texte horizontalement */
}

#maths {
    width: 1000px;
}

/* Styles pour la div contenant les images */
.image-parcours {
    /*border: 5px solid rgb(72, 255, 0); utile pour voir les div*/
    display: flex;
    /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: center;
    /* Centre les éléments horizontalement dans le conteneur */
    align-items: center;
    /* Centre les éléments verticalement dans le conteneur */

    max-width: 1500px;
    /* Définit une largeur maximale pour la div (ajustez selon vos besoins) */
    margin: 0 auto;
    /* Centre la div horizontalement sur la page */
}

/* Styles pour les images à l'intérieur de la div */
.image-parcours img {
    max-width: 100%;
    /* Les images ne dépasseront pas la largeur de leur conteneur */
    height: auto;
    /* Garantit que les images sont proportionnelles et ne sont pas déformées */
    display: block;
    /* Supprime l'espace réservé pour le texte sous les images */
    padding: 10px;
    /* Ajout d'un peu d'espacement autour des images (facultatif) */
}

#tab {
    font-size: 30px;
}
#dev {
    width: 400px;
}

#kube {
    width: 600px;
}

#Titre-1 {
    color: #01018b;
    /* couleur du texte */
    text-align: left;
    margin-left: 15%;
    font-size: 50px;
    /* Taille de police ajustée */
}

#forrester {
    width: 800px;
}

#gartner {
    width: 900px;
}

#appanyrun {
    width: 1400px;
}

#deploy {
    width: 1500px;

}

#pods {
    width: 1500px;

}

#centreon {
    width: 1200px;
}